[Desktop Entry]
Type=Application
Name=geoalbum
Comment=Geo Album project.
Icon=com.geoalbum.geoalbum
Exec=/usr/bin/com.geoalbum.geoalbum
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=Internet;UserDirs;Pictures;PublicDir
OrganizationName=com.geoalbum
ApplicationName=geoalbum
